In [39]:
import pandas
with open("nba_2013.csv", 'r') as csvfile:
    nba = pandas.read_csv(csvfile)

In [40]:
print(nba.head())
print(nba.shape)

          player pos  age bref_team_id   g  gs    mp   fg   fga    fg.  \
0     Quincy Acy  SF   23          TOT  63   0   847   66   141  0.468
1   Steven Adams   C   20          OKC  81  20  1197   93   185  0.503
2    Jeff Adrien  PF   27          TOT  53  12   961  143   275  0.520
3  Arron Afflalo  SG   28          ORL  73  73  2552  464  1011  0.459
4  Alexis Ajinca   C   25          NOP  56  30   951  136   249  0.546

      ...      drb  trb  ast  stl  blk  tov   pf   pts     season  season_end
0     ...      144  216   28   23   26   30  122   171  2013-2014        2013
1     ...      190  332   43   40   57   71  203   265  2013-2014        2013
2     ...      204  306   38   24   36   39  108   362  2013-2014        2013
3     ...      230  262  248   35    3  146  136  1330  2013-2014        2013
4     ...      183  277   40   23   46   63  187   328  2013-2014        2013

[5 rows x 31 columns]
(481, 31)

In [41]:
import numpy as np
from sklearn.preprocessing import Imputer
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [42]:
#remove the players namesto remain unbiased, team ID, and position so that missing data can be filled using Imputer
nba.drop(columns=['player','bref_team_id','pos'], inplace=True)
nba.head()

,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,23,63,0,847,66,141,0.468,4,15,0.266667,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,20,81,20,1197,93,185,0.503,0,0,NaN,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,27,53,12,961,143,275,0.520,0,0,NaN,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,28,73,73,2552,464,1011,0.459,128,300,0.426667,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,25,56,30,951,136,249,0.546,0,1,0.000000,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [59]:
X = nba.iloc[:,range(25)]
Y = nba.iloc[:,25]

In [61]:
#address missing values
imp = Imputer(missing_values="NaN", strategy='median', axis=0)
X = imp.fit_transform(X)

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)
y_train = y_train.ravel()
y_test = y_test.ravel()

In [63]:
for K in range(25):
    K_value = K+1
    neigh = KNeighborsClassifier(n_neighbors = K_value, weights='uniform', algorithm='auto')
    neigh.fit(X_train, y_train)
    y_pred = neigh.predict(X_test)
    print("Accuracy is ", accuracy_score(y_test,y_pred)*100,"% for K-Value:",K_value)

Accuracy is  4.137931034482759 % for K-Value: 1
Accuracy is  3.4482758620689653 % for K-Value: 2
Accuracy is  4.137931034482759 % for K-Value: 3
Accuracy is  4.827586206896552 % for K-Value: 4
Accuracy is  3.4482758620689653 % for K-Value: 5
Accuracy is  3.4482758620689653 % for K-Value: 6
Accuracy is  4.137931034482759 % for K-Value: 7
Accuracy is  4.827586206896552 % for K-Value: 8
Accuracy is  4.137931034482759 % for K-Value: 9
Accuracy is  4.137931034482759 % for K-Value: 10
Accuracy is  3.4482758620689653 % for K-Value: 11
Accuracy is  3.4482758620689653 % for K-Value: 12
Accuracy is  3.4482758620689653 % for K-Value: 13
Accuracy is  3.4482758620689653 % for K-Value: 14
Accuracy is  3.4482758620689653 % for K-Value: 15
Accuracy is  3.4482758620689653 % for K-Value: 16
Accuracy is  3.4482758620689653 % for K-Value: 17
Accuracy is  3.4482758620689653 % for K-Value: 18
Accuracy is  3.4482758620689653 % for K-Value: 19
Accuracy is  3.4482758620689653 % for K-Value: 20
Accuracy is  2.7586206896551726 % for K-Value: 21
Accuracy is  2.7586206896551726 % for K-Value: 22
Accuracy is  2.7586206896551726 % for K-Value: 23
Accuracy is  2.7586206896551726 % for K-Value: 24
Accuracy is  2.7586206896551726 % for K-Value: 25